@import 'breakpoints.scss';
@import 'workflow.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'reviews.scss';
@import 'features.scss';
@import 'users.scss';
@import 'purposes.scss';
@import 'consultation.scss';
@import 'stories.scss';
@import 'footer.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
}

.page {
  margin: 0;
  max-width: 1440px;
  max-height: 6820px;
  padding-top: 40px;
  padding-bottom: 90px;
  background-image: linear-gradient(
    180deg,
    rgba(25, 104, 252, 0.0001) 0%,
    rgba(25, 104, 252, 0.05) 23.07%,
    rgba(25, 104, 252, 0.0001) 99.94%,
    rgba(25, 104, 252, 0.05) 100%
  );

  @include for-large-up {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    width: 1440px;
    min-height: 3843px;
    padding: 0;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}
