.purposes {
  margin: 120px 0 0 60px;

  @include for-large-up {
    margin: 120px 160px 0 120px;
    width: 1160px;
    height: 310px;
  }

  &__title-desktop {
    display: none;

    @include for-large-up {
      margin: 0;
      display: flex;
      width: 1120px;
      height: 60px;
      margin-left: 40px;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      align-items: center;
      text-transform: uppercase;
      color: #11223f;
    }
  }

  &__title-mobile {
    margin: 0;
    width: 520px;
    height: 120px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #11223f;

    @include for-large-up {
      display: none;
    }
  }
}

.purpose-list {
  @include for-large-up {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    height: 238px;
  }
}

.purpose {
  display: flex;
  margin-top: 40px;
  width: 520px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);

  @include for-large-up {
    display: inline-flex;
    width: 540px;
    height: 80px;
    margin-left: 40px;
    margin-top: 38px;
  }

  &-first {
    margin-top: 38px;
  }

  &__description {
    margin: auto;
    width: 400px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;

    @include for-large-up {
      width: 420px;
    }
  }
}

.purpose-second-line {
  @include for-large-up {
    margin-top: 40px;
  }
}
